certifi==2018.11.29
chardet==3.0.4
defusedxml==0.5.0
Django==2.2.10
django-allauth==0.39.1
django-rest-auth==0.9.3
djangorestframework==3.9.2
get==2018.11.19
idna==2.8
oauthlib==3.0.1
Pillow==6.2.0
post==2018.11.20
public==2018.11.20
python3-openid==3.1.0
pytz==2018.9
query-string==2018.11.20
requests==2.21.0
requests-oauthlib==1.2.0
six==1.12.0

# Django
# ---------------------------------------------------------------------------------
django-coverage-plugin==1.8.0  # https://github.com/nedbat/django_coverage_plugin


# Code quality
# ------------------------------------------------------------------------------
flake8==3.7.9  # https://github.com/PyCQA/flake8
coverage==5.0.3  # https://github.com/nedbat/coveragepy
coveralls==1.11.1 # https://github.com/coveralls-clients/coveralls-python
black==19.10b0  # https://github.com/ambv/black
pylint-django==2.0.14  # https://github.com/PyCQA/pylint-django
pylint-celery==0.3  # https://github.com/PyCQA/pylint-celery
pre-commit==2.2.0  # https://github.com/pre-commit/pre-commit


# Testing
# ---------------------------------------------------------------------------------
pytest==5.3.5  # https://github.com/pytest-dev/pytest
pytest-cov==2.8.1 # https://github.com/pytest-dev/pytest-cov
urllib3==1.24.2
